<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Feed</title>
    <link href="/feed/css/app.css" rel="stylesheet">
  </head>

  <body>
    <div id="app" class="font-sans text-gray-600 text-lg">
      <div class="relative overflow-hidden">
        <div id="hero-background" class="absolute w-full h-full overflow-hidden bg-hero border-b-4 border-gray-200" style="height:70%"></div>
        <div id="hero" class="relative container mx-auto pt-8 px-4 lg:px-8 xl:px-16" style="height:550px">
          <div class="w-full lg:max-w-xl xl:max-w-2xl text-center lg:text-left">
            <h1 class="text-3xl xs:text-4xl sm:text-5xl 2xl:text-6xl font-medium text-blue-100 mb-2">Blog</h1>
            <div class="w-full max-w-lg 2xl:max-w-xl mx-auto lg:mx-0">
              <p class="text-lg sm:text-xl 2xl:text-2xl text-blue-200 mb-8"></p>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full max-w-3xl mx-auto px-8 leading-loose text-base sm:text-lg mt-8 lg:mt-0">
        {{content}}
      </div>      
    </div>
  </body>

</html>
